
      .row ul li {
        list-style: none;
        /* padding: 0px 8px 0px 50px; */
        margin-top: 5px;
        /* position: relative; */
        font-size: 17px;
        cursor: pointer;
        user-select: none;
        position: relative;
      }
      .row ul li span {
        position: absolute;
        right: 0;
        /* top: 5px; */
        width: 30px;
        height: 30px;
        font-size: 22px;
        font-weight: bold;
        /* background-color: rgb(203, 204, 148); */
        color: rgb(240, 14, 14);
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
      }
      .list-group button{
        border-radius: 50%;
        height: 24px;
    width: 24px;
    padding: 0;
    border: none;
      }
    .list-group button svg{
      top: 0;
      margin: 0;
    height: 15px;
    width: 15px;
    padding: 0;
   }